*.pyc
*.mako.py
*~
*.log.*
*.log
build/
*egg-info/
dist/
MANIFEST
secKey
.project
.pydevproject
.settings
.idea
*test.sh
PKG-INFO
*.swp

# Build artifacts

src/linotpselfservice/i18n/*/LC_MESSAGES/linotpselfservice.mo
src/linotpselfservice/i18n/linotpselfservice.pot
src/linotpselfservice/public/i18n/

src/Paste-*-py*.egg/
src/PasteDeploy-*-py*.egg/
src/PasteScript-*-py*.egg/
