*.pyc
*.mako.py
*~
*.log.*
*.log
build/
*egg-info/
dist/
MANIFEST
secKey
.project
.pydevproject
.settings
.idea
*test.sh
PKG-INFO
*.swp

# Build artifacts

src/selfservice/i18n/de/LC_MESSAGES/selfservice.mo
src/selfservice/i18n/selfservice.pot
src/selfservice/public/i18n/

